<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <h4><li>Connect with us:</li></h4>
          <li><a href="https://www.facebook.com/">Facebook</a></li>
          <li><a href="https://www.linkedin.com/">LinkedIn</a></li>
          <li><a href="https://twitter.com/">Twitter</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <ul class="contact-list">
          <h4><li>Products</li></h4>
            <li><a href="/use_case_1">Managed Infrastructure</a></li>
            <li><a href="/use_case_2">Managed Operations - SysOps</a></li>
            <li><a href="/use_case_3">Managed Operations - DevOps Automation</a></li>
            <li><a href="/cart_1">Sign Up Now</a></li>
          </ul>
      </div>
    </div>

  </div>

</footer>
